*{
	color : #7277D8;
}

body{
	background-color: #ACAFEA;
}

nav.header p{
	margin-top : 40px;
}

nav.menu{
	background-color : 4D54D8;
}

nav.menu nav{
	margin-top : 5px;
}

nav.menu a{
	color: #FFFFFF;
}

div.page-header{
	background-color : #080E73;
}

img.apresentacao{
	width: 100%;
}